In [33]:
import pandas as pd
from math import log

In [34]:
df = pd.read_excel('../data/ipca.xlsx')

In [35]:
for i in range(df.shape[0]-1):
    p = df.at[i, "IPCA"]
    p_1 = df.at[i+1, "IPCA"]
    df.at[i,"IPCA_Calculado"] = log(p_1/p)

In [36]:
df

          Data     IPCA  IPCA_Calculado
0   2010-01-01  3040.22        0.007769
1   2010-02-01  3063.93        0.005186
2   2010-03-01  3079.86        0.005685
3   2010-04-01  3097.42        0.004291
4   2010-05-01  3110.74        0.000000
..         ...      ...             ...
152 2022-09-01  6370.34        0.005883
153 2022-10-01  6407.93        0.004091
154 2022-11-01  6434.20        0.006181
155 2022-12-01  6474.09        0.005286
156 2023-01-01  6508.40             NaN

[157 rows x 3 columns]

In [37]:
l_month = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

l_dailyValues = []

index = 0
for i in range(df.shape[0]):
    if index == 12:
        index = 0

    dailyRate = (1 + df.iat[i, 2]) ** (1/l_month[index]) - 1
    l_dailyValues.append([dailyRate]*l_month[index])

    index+=1
lat_list = [
    x
    for xs in l_dailyValues
    for x in xs
]
df_2 = pd.DataFrame(lat_list)

In [43]:
df_2.to_csv('IPCA_diario.csv', sep=';', index=False, float_format='%.15f',decimal=',')

In [30]:
df

0.00025896666666666665